/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }
  
  .social-link:hover, 
  .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
  }

  .about{
    margin-left: 20%;
}

.list-inline-item  { /*Instagram*/
  
  width:40px ;
height: 40px ;


}

.list-inline-item2 {  /*Linked In*/
  width:30px !important;
height: 30px !important;
margin-left: 35px;
}




