.annotation main
{
    width: 100%;
    max-width: 74rem;
    margin: -3.2rem auto 3.2rem;
    padding-top: 6.4rem;
    overflow: hidden;
}

.text-area-anotation
{
    margin-top: 25px;
    margin-bottom: 50px;

}

.annotation main button {
  width: 100%;
  height: 5.6rem;
  background: var(--color-secundary);
  color: var(--color-button-text);
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 700 1.6rem Archivo;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.2s;
  margin-top: 3.2rem;
}

.annotation main  button:hover {
    color: var(--color-primary-dark);
}
  
  