#chat_help {
  display: block;
  position: fixed;
  z-index: 1;
}

.in_support_header {
  width: 330px;
  height: 56px;

  background: #8257e6;
  border-radius: 16px 16px 0px 0px;

  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.in_support_header span {
  color: #fff;
  display: flex;
  align-items: center;
}

.icon_close {
  align-items: center;
  display: flex;
  cursor: pointer;
}

.chat_support {
  position: absolute;
  min-width: 330px;
  max-height: 600px;
  right: 10px;
  animation: up 1s;
  border: 1px solid;
  border-color: #8257e6;
  border-radius: 16px 16px 0px 0px;
  background-color: var(--color-box-footer);
}

.chat_support_hide {
  animation: down 1s;
  animation-fill-mode: forwards;
}

@keyframes up {
  from {
    transform: translateY(60vh);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100vh);
  }
}

.client {
  display: flex;
  flex-direction: column;
}

.client .name {
  text-align: end;
}

.text_support {
  max-height: 450px;
  min-height: 350px;
  padding: 10px;
}

.message_send input {
  outline: none;
  height: 34px;
  align-items: center;
  width: 252px;
}

.send_message_button {
  display: flex;
  cursor: pointer;
}

.line {
  border: 1px solid #e9e9e9;
  padding: 0;
  margin: 0;
}
.text-content {
  /* overflow-y: scroll; */
}
.text_help {
  padding-top: 8px;
  overflow-y: scroll;
  max-height: 250px;
}

.text_help textarea {
  width: 290px;
  height: 115px;

  padding: 10px;

  background: #ffffff;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 4px;

  resize: none;
}

.chat-mensagem {
  display: flex;
  flex-direction: column;
  margin-top: 34px;
}

.chat-mensagem input {
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 4px;
  height: 42px;
  width: 290px;
}

.btn_start_chat {
  width: 121px;
  height: 40px;

  background: #8257e6;
  border-radius: 4px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn_start_chat:hover {
  opacity: 0.8;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

input {
  width: 300px;
  margin-right: 10px;
}
