#chat_help {
  display: block;
}

.in_support_header {
  float: right;
  width: 330px;
  height: 56px;

  background: #8257e6;
  border-radius: 16px 16px 0px 0px;

  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.in_support_header span {
  color: #fff;
  display: flex;
  align-items: center;
}

.icon_close {
  align-items: center;
  display: flex;
  cursor: pointer;
}

.chat_support {
  position: absolute;
  min-width: 330px;
  min-height: 330px;
  right: 10px;
  animation: up 1s;
  border: 1px solid;
  border-color: #8257e6;
  border-radius: 16px 16px 0px 0px;
}

.chat_support_hide {
  animation: down 1s;
  animation-fill-mode: forwards;
}

@keyframes up {
  from {
    transform: translateY(60vh);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100vh);
  }
}

.client {
  display: flex;
  flex-direction: column;
}

.client .name {
  text-align: end;
}

.client_message {
  background: #f2ecfa;
  padding: 20px 10px;
  margin: 10px 0;
  width: 250px;
  margin-left: 30px;
  border-radius: 4px;
  line-height: 20px;
}

.client .message {
  background: #f2ecfa;
  /* background: #cecad4; */
  padding: 20px 10px;
  margin: 10px 0;
  width: 250px;
  margin-left: 30px;
  border-radius: 4px;
  line-height: 20px;
}

.text_support {
  max-height: 500px;
  padding: 10px;
}

.admin {
  display: flex;
  flex-direction: column;
}

.admin .message {
  width: 230px;
  background: #f2ecfa;
  border-radius: 4px;
  padding: 10px;
  margin-left: 12px;
}

.message_send {
  display: flex;
  justify-content: space-between;
  border: 1px solid #cec9c9;
  align-items: center;
}

.message_send input {
  outline: none;
  height: 34px;
  align-items: center;
  width: 252px;
}

.send_message_button {
  display: flex;
  cursor: pointer;
}

.line {
  border: 1px solid #e9e9e9;
  padding: 0;
  margin: 0;
}

.text_help {
  padding-top: 8px;
  margin-bottom: 60%;
}

.text_help textarea {
  width: 290px;
  height: 115px;

  padding: 10px;

  background: #ffffff;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 4px;

  resize: none;
}

.chat-mensagem {
  display: flex;
  flex-direction: column;
  margin-top: 34px;
}

.chat-mensagem input {
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 4px;
  height: 42px;
  width: 290px;
}

.btn_start_chat {
  width: 121px;
  height: 40px;

  background: #8257e6;
  border-radius: 4px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn_start_chat:hover {
  opacity: 0.8;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

input {
  width: 300px;
  margin-right: 10px;
}
